;
; [Gromov, MPIC, 2007-2009]
;
; im-tag/double control file
;
; #N# CO2 ISOTOPIC CARBON 12/13 - MC box 4 CARIBIC-2
; #K# A
;
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
;   ! do not use comments on the section header lines (i.e. [SUB])

; === general tagging information ==============================================
[TAG]
 cmodel=messy_mecca                ; carrier model (interface) prefix
 configuration=IC                  ; tagging abbr (can be TAG1 or I or ISO, any F90 identifier-correct)
 classes=I12 I13                   ; number of tagging classes (# of isotopologues)
 iatom=C                           ; isotope-atom name: optional
 imasses=12.000000 13.003355       ; isotope masses
;kieproc=                          ; KIE-procesing file: optional
;budget=FXindi FXredi FXfix FXresp


; --- user configuration parameters --------------------------------------------
; (will be passed to the generated code as conditional #define)
[CPARAMS]
 ISO                 ; general flag for isotopic cfg
;FRAC                ; general for fractional tagging

; initialisation units
 UNIT_DELTAPERMIL    ; as delta values
xUNIT_FRACMIN        ; as minor class fractions
xONLY_MINOR          ; specify if only minor isotopologues should be treated, use with atom(s) = 1

; optional parameters
xOPT_LOW_FILTER      ; tagging: treshold cutoff optimisation
xOPT_C2R_FILTER      ; filter only largely deviated species in correct2reg
xOPT_USE_KRSIND      ; use kie-relates species indices for correction
xOPT_NEG_FILTER      ; check negative overshooting
 OPT_EXC_FILTER      ; check overshooting for fractional tagging

 OPT_NO_CORR         ; switch off regular <-> tagged mechs correction
xOPT_CORR_2TAG       ; specify if correction is done with tagged mech as a reference
xOPT_FTOT_WRTTAG     ; calculate fractions of totals w.r.t. to the tagged mech (not default)

;TAG_OPT_SKIP_XTRABOXPPROC ; by def. skip extra calc. (delta+totals) in the postprocessing (box-model opt.)
                           ; + don't forget to switch on in the Makefile!
 iCMCb               ; MC box for CARIBIC2 isotope CO2 obs. (for CAABA)


; --- MECCA-specific parameters ------------------------------------------------
[MECCA]
 sisyntax=ind_@                         ; species index syntax
 ptsyntax=XPT@                          ; passive tracers naming
 trsyntax=TAG@                          ; tagged reaction naming
 eqn={%CMODEL}_{%CASE}.eqn              ; modified equation file
 spc={%CMODEL}_{%CASE}.spc              ; modified additional species file

 tracdef={%CMODEL}_{%TAG}.tex           ; additional tracers definition file
 cfgeqn={%CMODEL}_{%TAG}.eqn            ; configuration equation file to produce
 cfgspc={%CMODEL}_{%TAG}.spc            ; configuration species file to produce


; --- templates for tagging modules --------------------------------------------

; > these files are created to inter-connect all tagging configurations
[CODE]
 imtag_tag_common.f90={%CMODEL}_tag_common.f90          ; SMCL shared routines former
 imtag_param.inc={%CMODEL}_tag_parameters.inc           ; INCLUDE-file for tagging parameters (compilation/link)
 imtag_tag_box.f90={%CMODEL}_tag_box.f90                ; SMIL boxmodel driver former
 imtag_tag_si.f90={%CMODEL}_tag_si.f90                  ; SMIL si driver former

; > these files are created for each tagging configuration
[CODE:CONF]
 imtag_cfg.f90={%CMODEL}_{%TAG}.f90                     ; SMCL tagging cfg code former
 imtag_cfg_box.f90={%CMODEL}_{%TAG}_box.f90             ; SMIL CAABA tagging cfg code former
 imtag_cfg_si.f90={%CMODEL}_{%TAG}_si.f90               ; SMIL si tagging configuration code former


; === list of species to tag ===================================================
[SPC]
; syntax:
;  12C-13C/16O-17O-18O example, [ ] - optional, * - indicates fixed species
;
; /units = delta/
;  SPEC [atoms] = [d13C]      [*] ->  CO     1 = -20.0
;  SPEC [atoms] = [d17O d18O] [*] ->  CO     1 =   0.0  4.2
; /units = fraction/
;  SPEC [atoms] = [f13C]      [*] ->  C2H5OH 2 = 0.1
;  SPEC [atoms] = [f17O f18O] [*] ->  C2H5OH 2 = 0.004 0.002
;
; - optinal [atoms] value overrides those picked from SPC file
; - for molecular/fractional tagging all atom qties. should be set to 1 (supresses specific isotopic transfer)
;

;
; 1C               BM init  

; CARIBIC-2 MCbox CO2 counterparts
  RHL        1 =   -8.135  ; *
  RLL        1 =   -8.190  ; *
  BL         1 =    0.0
  UA         1 =    0.0
  PC         1 =    0.0
  FC         1 =    0.0
  RC         1 =    0.0
  CM         1 =    0.0
; fluxes
  FXindi     1 =    0.0    ; CO2 photosynt. diff. influx
  FXredi     1 =    0.0    ; CO2 photosynt. diff. retroflux
  FXfix      1 =    0.0    ; CO2 fixation
  FXresp     1 =    0.0    ; CO2 respiration flux


[-ADD:SPC]
[-ADD:EQN]
[-IEX]
[-KIE:RMA]


; === kinetic isotope effect section ===========================================
[KIE]
; react.#     = isotopologue  expression (*-like)
; warning: reaction abbr. and spec. names are regexps

; - CARIBIC-2 MCbox isotope CO2 MC box -------
;
; // === biospheric CO2 interaction ===
; // --- photosynthetic uptake ---
; //     (retro-)diffusion
; <G_diffusion>   BL = PC + FXindi    : {%TrG}  k_d; {&&}
; <G_retrodiff>   PC = BL + FXredi    : {%TrG}  k_d; {&&}
  .*indif.* I13.+ = /(1.0+eps_13C_dif)
  .*redif.* I13.+ = /(1.0+eps_13C_dif)  ; was "-" instead of "+" here

; //     uptake
; <G_fixation>    PC = Dummy + FXfix  : {%TrG}  k_f; {&&}
    .*fix.* I13.+ = /(1.0+eps_13C_fix)

; // --- respiraton (breathing of plant(/soil?)) ---
; !! assuming diffusion fractionation acts here too
; <resp2BL>  RC = BL + FXresp    : {%TrG}  k_resp; {&&}
   .*resp.* I13.+ = /(1.0+eps_13C_dif)


; === sources specification section ============================================
; use xxxSRC to turn off temporarily source spec.
[SRC]
; react.# = src.species
;G9999     = CO
;J4111     = TC


; === END OF DATA ==============================================================

; --- notes --------------------------------------------------------------------
;
; parameters identifiers are case-sensitive!
; allowed delimiters: space, tab, null, esc, ':', ';'
; ';' starts a comment,
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
; please do not use spaces in filenames
;   template variables can be used only in keys names and values, not in the headers
;   there are no conditional blocks
;
; EOF
